# This file specifies files that are _not_ uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
# $ gcloud topic gcloudignore
#
.gcloudignore

# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore

# manual processing scripts are not needed in service deployment
manual_processing/

# other
.env
CLAUDE.md
README.md
pyproject.toml
\*.sh
requirements-dev.txt
.claude/
.ruff_cache/
scripts/
